<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project X</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar-superuser {
            background-color: black;
        }
        .navbar-read-write {
            background: linear-gradient(to right, #add8e6, #87ceeb);
        }
        .navbar-read-only {
            background: linear-gradient(to right, #7E51B7, #9A6FD6);
        }
        .navbar-brand {
            font-size: 1.5rem;
            font-weight: bold;
        }
        .nav-link {
            color: white;
        }
        .nav-link:hover {
            color: #000;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg
        {% if is_superuser %} navbar-superuser
        {% elif is_read_write %} navbar-read-write
        {% elif is_read_only %} navbar-read-only
        {% endif %}">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% if is_superuser %}{% url 'employees:home' %}
                                          {% elif is_read_write %}{% url 'employees:read_write_dashboard' %}
                                          {% elif is_read_only %}{% url 'employees:read_only_dashboard' %}
                                          {% endif %}">
                Project X
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% if is_superuser %}{% url 'employees:home' %}
                                                                           {% elif is_read_write %}{% url 'employees:read_write_dashboard' %}
                                                                           {% elif is_read_only %}{% url 'employees:read_only_dashboard' %}
                                                                           {% endif %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            My Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'employees:user_profile_detail' %}">My Profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Help</a></li>
                            {% if is_superuser %}
                            <li><a class="dropdown-item" href="{% url 'employees:manage_user_permissions' %}">Manage Permission</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'employees:logout' %}">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
