<!DOCTYPE html>
<html>
<head>
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
    <table border="1">
        <tr>
            <th>Employee Code</th>
            <th>Name</th>
            <th>Father Name</th>
            <th>Basic</th>
            <th>Transport</th>
            <th>Canteen</th>
            <th>PF</th>
            <th>ESIC</th>
            <th>Advance</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.employee_code }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.father_name }}</td>
            <td>{{ employee.basic }}</td>
            <td>{{ employee.transport }}</td>
            <td>{{ employee.canteen }}</td>
            <td>{{ employee.pf }}</td>
            <td>{{ employee.esic }}</td>
            <td>{{ employee.advance }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
