{% extends 'base.html' %}

{% block title %}Add Employee {% endblock %}

{% block content %}
    <h1>Add Employee</h1>

    <!-- Add Employee Form -->
    <form method="post" action="{% url 'add_employee' %}">
        {% csrf_token %}
        {{ add_employee_form.as_p }}
        <button type="submit">Add Employee</button>
    </form>

    <h1>Upload Employees via Excel</h1>

    <!-- Excel Upload Form -->
    <form method="POST" enctype="multipart/form-data" action="{% url 'upload_excel' %}">
        {% csrf_token %}
        {{ upload_form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
{% endblock %}
