{% extends 'app.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h2>Login</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'employees:login' %}">
                        {% csrf_token %}  <!-- Ensure this is here -->
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-dark btn-block">Login</button>
                        <a href="{% url 'employees:register' %}" class="btn btn-default">Don't have an account? Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
