{% extends 'base.html' %}

{% block title %}Read only{% endblock %}

{% block content %}
    <div class="container">
        <h1>Employee Dashboard</h1>
        <p>Welcome, {{ request.user.username }}! You have full access to all Employee details .</p>
        <ul>
        <div class="btn-group" role="group">
            <a href="{% url 'employees:employee_list' %}" class="btn btn-primary">View Employees</a>
            <a href="{% url 'employees:employee_profile' %}" class="btn btn-primary">Employee Profile</a>
            <a href="{% url 'employees:company_list' %}" class="btn btn-primary">Company List</a>
        </div>
        </ul>
    </div>
{% endblock %}
