{% extends 'app.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h2>Register</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'employees:register' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-dark btn-block">Register</button>
                        <a href="{% url 'employees:login' %}" class="btn btn-default">Already have an account? Login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
