{% extends 'base.html' %}

{% block content %}
  <div class="container my-4">
    <h2>PF No:{{ salary.pf_no }} | {{ salary.name }}'s Profile</h2>

    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Basic:</th>
          <td>{{ salary.basic }}</td>
        </tr>
        <tr>
          <th>Gross Salary:</th>
          <td>{{ salary.gross_salary }}</td>
        </tr>
        <tr>
          <th>Advance Given:</th>
          <td>{{ salary.advance_given }}</td>
        </tr>
        <tr>
          <th>Advance Pending:</th>
          <td>{{ salary.advance_pending }}</td>
        </tr>
        <tr>
          <th>Net Salary:</th>
          <td>{{ salary.net_salary }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Advance Transactions</h3>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Date</th>
          <th>Advance Given</th>
          <th>Advance Deducted</th>
          <th>Nature</th>
          <th>Company</th>
          <th>Mode</th>
          <th>Cheque no.</th>
          <th>Paid / Received by</th>
          <th>Paid / Received to Account </th>
          <th>Net Amount</th>
          <th>Comment</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.advance_taken }}</td>
            <td>{{ transaction.advance_deducted }}</td>
            <td>{{ transaction.nature }}</td>
            <td>{{ transaction.company }}</td>
            <td>{{ transaction.mode }}</td>
            <td>{{ transaction.cheque_no }}</td>
            <td>{{ transaction.paid_received_by }}</td>
            <td>{{ transaction.paid_received_account }}</td>
            <td>{{ transaction.advance_balance }}</td>
            <td>{{ transaction.comment }}</td>
            <td>
              <a href="{% url 'employees:edit_transaction' transaction.pk %}" class="btn btn-sm btn-warning">Edit</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3>Add New Transaction</h3>
    <form method="POST">
      {% csrf_token %}

      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Add Transaction</button>
    </form>
  </div>
{% endblock %}
